# Eclipse project files
.classpath
.project
.settings/

# Build output
bin/
*.class

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# OS-files
.DS_Store
Thumbs.db

# ignore local SQLite database
data/investment_tracker.db

#environment variables
.env

